/* ACERCA DE NOSOTROS */
#aboutus{
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-size-adjust: 100%;
}

.aboutus-title{
    color: #39f;
    font-size: 32px;
}

.aboutus-container{
    box-sizing: border-box;
    margin-top: 32px;
    display: grid;
    grid-template-columns: 615px 615px;
    gap: 16px;
}

.aboutus-container-item-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    color: white;
    background: #2455A5;
    padding: 16px;
}

.aboutus-container-item-right{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    color: #39f;
    padding: 16px;
}

@media(max-width: 1300px){
    .aboutus-container{
        grid-template-columns: repeat(2,minmax(0px, 45vw));
    }

}